:root {
  --primary-color: #2E1A47;
  --accent-color: #BC13FE;
  --background-color: #1E1E1E;
  --text-color: #E0E0E0;
}

[data-theme="dark"] {
  --primary-color: #2E1A47;
  --accent-color: #BC13FE;
  --background-color: #1E1E1E;
  --text-color: #E0E0E0;
}

[data-theme="light"] {
  --primary-color: #FFFFFF;
  --accent-color: #BC13FE;
  --background-color: #F5F5F5;
  --text-color: #2E1A47;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: #BC13FE;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
  color: var(--text-color);
  background-color: var(--background-color);
  }
  a:hover {
    color: #BC13FE;
  }
  button {
    background-color: var(--primary-color);
  }
}
